/*----------------------------------------
  Brand-Colors
----------------------------------------*/
$color-twitter: #1da1f2;
$color-behance: #1769ff;
$color-facebook: #3b5998;
$color-vimeo: #1ab7ea;
$color-snapchat: #fffc00;
$color-airbnb: #fd5c63;
$color-amazon: #ff9900;
$color-android: #a4c639;
$color-stack-overflow: #f48024;
$color-ubuntu: #dd4814;
$color-github: #333;
$color-javascript: #f7df1e;

/*----------------------------------------
  Brand-Icon-Sizes
----------------------------------------*/
$brand-size-sm: 2em;
$brand-size-md: 4em;
$brand-size-xl: 6em;
$brand-size-xxl: 8em;